.theme-blue .navbar {
    background: linear-gradient(45deg, #ba8c4d, #ae6f1a);
}

.theme-blue .navbar-brand {
    color: #ba8c4d !important;
}

.theme-blue .sidebar .menu .list a:hover,
.theme-blue .sidebar .menu .list li.active> :first-child i,
.theme-blue .sidebar .menu .list li.active> :first-child span {
    color: #bd9154;
}

.l-cyan, .btn-primary  {
    background: linear-gradient(45deg, #dda04a, #b78746) !important;
    color: #fff !important;
}